* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

html, body {
    font-family: 'Noto Sans', sans-serif;
    color:var(--secondary-color);
}

a{
    text-decoration: none;
}

p{
    margin: 10px 0;
}

:root {
    --primary-color: rgb(210,180,140);
    --secondary-color:#444;
    --tertiary-color:rgb(220,210,197);
    --tertiary-light:rgba(102,102,102);
}

/*Utility classes*/
.primary-text {
    color:var(--primary-color);
}

.btn{
    cursor: pointer;
    border:none;
    border-radius:5px;
    padding:10px 20px;
    display: inline-block;
    margin:10px;
    text-align: center;
}

.btn-border-light{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 0px;
    text-align:center;
    border: 5px var(--primary-color) solid;
    color: var(--secondary-color);
    font-size: 20px;
}

.btn-border-light:hover{
    background-color: var(--primary-color);
}

.btn-light{
    background: var(--primary-color);
    color:var(--secondary-color);
}

.btn-dark{
    background: var(--secondary-color);
    color:white;
}

.btn:hover{
    opacity: 0.8;
}

.current-page{
    border-bottom: 5px var(--primary-color) solid;
}



/*Navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    position:fixed;
    width:100%;
    top:0;
    z-index: 5;
}

.navbar .logo{
    padding:10px 0px;
    text-align: center;
}

.navbar .logo h1 {
    font-family: 'Ballet', cursive;
    font-size: 4.0rem;
    line-height: 1.3rem;
    padding-top:40px;
    color:var(--primary-color);

}

.navbar .logo h3{
    font-family: 'Lora', serif;
    padding-left:150px;
    color:white;
    font-size:1.5rem;
}

/*Menu*/
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}

/* .navbar ul li{
    border:5px solid black;
} */

.navbar ul li a{
    padding: 0px 20px;
    margin: 0px 5px;
    font-size: 1.2rem;
    color:white;
    /* border:5px solid black; */
    text-align: center;
}

.navbar ul li a:hover{
    border-bottom:5px var(--primary-color) solid;
}

/*Row container for about page*/
.flex-container{
    margin-top:50px;
    display: flex;
    flex-direction:row;
    /* border:5px solid black; */
}

.flex-container .flex-column{
    display: flex;
    flex-direction:column;
    flex:1;
    /* border:5px solid black; */
}

.flex-container-reverse {
    flex-direction: row-reverse;
}
.flex-container .flex-column .flex-image{
    display: flex;
    height: 100%;
}

.flex-container .flex-column .flex-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    text-align:justify;
    height:100%;
}

.flex-container .flex-column .flex-content h2{
    padding:20px 0px;
    text-align: center;
}

.flex-container .flex-column .flex-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:50px;
    padding:10px;
}

.flex-container-three{
    display: flex;
    position:relative;
    /* border:black 5px solid; */
    margin: 40px 10px;

    
}

.flex-container-three .reviewee-info {
    flex:1;
    color:var(--secondary-color);
    background: var(--tertiary-color);
    /* border:black 5px solid; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.flex-container-three .reviewee-info h3{
    padding-bottom:10px;
}

.flex-container-three .flex-item{
    padding:10px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
    padding:30px;
    
}

.flex-container-three .review {
    flex:4;
    background:var(--primary-color);
    /* border:black 5px solid; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.flex-container-three .review .review-item{
    display: flex;
    align-items: flex-start;
    padding:5px;
    /* border:5px solid green; */
}

.flex-container-three .review .review-item i{
    /* border:5px solid black; */
    margin-right:5px;
}

.flex-container-three .review .review-item p{
    padding:0px;
    /* border:5px solid black; */
}

.flex-container-three .rating{
    position:absolute;
    top:5px;
    right:5px;
    padding:5px;
    border-radius: 5px;
    color:white;
    background: var(--secondary-color);    
}

.flex-container-four{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
}



.flex-container-four .facilities-item{
    flex:1;
}

.flex-container-four .facilities-item i{
    padding:10px;
    background: var(--primary-color);
    border-radius: 50%;
}

.flex-container-five {
    display:flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
}



.main-footer{
    padding:20px;
    background-color: var(--secondary-color);
    text-align: center;
    color:white;
    margin-top:30px;
}


@media(max-width: 760px){
    .navbar{
        flex-direction: column;
    }

    .navbar ul{
        margin-top:20px;
    }

    .navbar ul li a{
        padding: 0px 2px; 
    }

    .hide{
        display: none;
    }

    .flex-container{
        flex-direction:column;
    }
    .flex-container-three{
        flex-direction: column;
    }

    .flex-container-three .reviewee-info{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    .flex-container-three .review{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius:0px;
    }

    #overall-ratings .page-container .rating-container{
        flex-direction: column;
        padding:0px 10px;
        
    }

    .flex-container-four{
        flex-direction: column;
    }

    .flex-container-four i{
        margin:20px 0px;
    }

    .flex-container-five{
        flex-direction: column;
    }

    .hidden-img{
        display: none;
    }

    #landing-page .landing-content h1{
        margin-top:100px;
    }

    #about-page .about-heading h1{
        margin-top: 100px;
    }

    #rooms-page .rooms-heading h1{
        margin-top:100px;
    }

    #explore .explore-heading h1{ 
        margin-top:150px;
    }

    #contact .contact-heading h1{
        margin-top:100px;
    }
    
}